a { 
    text-decoration: none; 
}

h1 {
    font-size: 3.5rem;
    color: white;
    font-family: 'Quattrocento', serif;
}

#showtext {
    cursor: hand; 
    cursor:pointer;
    font-size: 3rem;
    font-family: 'Quattrocento', serif;
    color:red;
}


#keyWards {
    margin-top: 10px; 
    width:95%; 
    border: 1px solid #CCC; 
    background: #F1F1F1; 
    padding: 15px; 
    display: none;
}

#keyWards2{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 5rem;
    z-index: 100;
    background-color: white;
    margin: 0;
    padding-top: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #081c25;
}

p2 {
    background-color: black;
    border:2px solid;
    border-radius:25px;
    color :red;
    box-shadow: 10px 10px 5px #888888;
    text-align: center;
}

#button_search{
height: 20px;
width: 50px;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
cursor:pointer;
}

#button_refresh{
height: 20px;
width: 50px;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
cursor:pointer;
}

.pagination {
    margin: 1rem auto;
    text-align: center;
}
.pagination button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #26b575;
    color: white;
    margin: 1rem;
    cursor: pointer;
}
.pagination input{
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    width: 7rem;
    
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
    width: 28rem;
    height: auto;
    margin: 1rem auto;
    position: relative;
    background-color: white;
    transition: 0.8s;
    transform: scale(1); 
}

.card-in{
    transform: scale(1) !important;
}
.card-out{
    transform: scale(0);
}
.pointer {cursor: pointer;
}

.card:hover {
    box-shadow: 0 6px 25px 0 red;
}

.inline {
    display: inline;
    margin: 1rem;
}

.attribution {
    width: 12rem;
    margin: auto;
    margin-top: 45%;

}

.imgcontainer {
    float: left;
    width: 12.5rem;
    overflow: hidden;
    height: 17.5rem;
    margin-right: 0.5rem;
    pointer-events: none;
}

h2 {
    font-size: 1.1rem;
    font-family: 'Quattrocento', serif;
    color:red;
}

.imgcontainer>img {
    max-width: 100%;
    height: 17.5rem;
    margin: 0 1rem 0 0;
    pointer-events: none;
    font-size: 0.8rem;
}

.card>p {
    pointer-events: none;
    font-size: 0.8rem;
    line-height: 1.2rem;
}

.card>p:last-child {
    text-align: left;
    margin: 1rem;
}

.card .movietitle {
    color: darkblue;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin: 1rem 0;
    font-family: 'Quattrocento', serif;
}



.loading {
    display: none;
}

@media screen and (min-width:850px) {
    .attribution {
        margin-top: 35%;
    }
    h2 {
        font-size: 1.3rem;
    }
    #search-input {
        width: 50%;
        font-size: 1rem;
        transition: 1.2s;
    }
    #search-input:focus {
        width: 78%;
    }
    @media screen and (min-width:1200px) {
        .page {
            margin: 6rem 11rem;
        }
        #search-input {
            width: 50%;
        }
        #search-input:focus {
            width: 70%;
        }
        .attribution {
            margin-top: 15%;
        }
    }

